/* src/app/components/SocialMediaLinks.module.css */

.socialMediaContainer {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .socialLink {
    color: #6a7fdb; /* Primary color */
    font-size: 2rem;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .socialLink:hover {
    color: #889ee7; /* Hover color */
    transform: scale(1.1);
  }
  